body{
    background-color: #11212d;
    color: #ee7828;
}

.btn{
    background-color: #4a5c6a;
    border-radius: 30%;
    border-color: black;
    color: #ee7828;
    padding: 20px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: all 1s;

}

h1{
    text-align: center;
    font-size: 50px;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}